html body{
  width: 100%;
  height: 100%;
  transition: 200ms;
  margin: 0px;
  background: #e84393;
  overflow: hidden;
  font-family: 'Sulphur Point', sans-serif;
}
::selection{
  background: rgba(255, 0, 0, 0);
}
.upbut{
  margin-top: 200px;
  padding-top: 10px;
}
.up{
  background: rgba(0, 0, 0, 0.25);
  height:10%;
  position: static;
  width:100%;
  top:10px;
  padding-bottom: 50px;
}
.box{
  flex:auto;
  overflow: hidden;
  height:100%;
  text-align: center;
  align-items: center;
}
.howmuch{
  font-size: 200px;
  color:rgba(0, 0, 0, 0.25);
}

.red{
  background: #ff3838;

}
.orange{
  background: #ff9f1a;
  display: none;
}
.yellow{
  background: #fff200;
  display: none;
}
.green{
  background: #3ae374;
  display: none;
}

.blue{
  background: #17c0eb;
  display: none;
}
.purple{
  background: #7158e2;
  display: none;
}

.pink{
  padding-bottom: 10px;
  display: block;
  background: #e84393;
  color: white;
  text-align: center;
}
.game {
  display: flex;
  height: 100em;
  flex-direction: row;
}
#pink{

  font-size: 40px;
font-family: 'Raleway', sans-serif;
}
#pink2{
font-family: 'Raleway', sans-serif;
  font-size: 40px;
}
#redup{

  font-size: 40px;
font-family: 'Raleway', sans-serif;
}
#orangeup{

  font-size: 40px;
font-family: 'Raleway', sans-serif;
}
#yellowup {
  font-size: 40px;
font-family: 'Raleway', sans-serif;
}
#greenup{
  font-size: 40px;
font-family: 'Raleway', sans-serif;
}
#blueup{
  font-size: 40px;
font-family: 'Raleway', sans-serif;
}
#purpleup{
  font-size: 40px;
font-family: 'Raleway', sans-serif;
}
.pinktext {
  padding-top:10px;
  bottom: 5px;
  align-items: center;
  display:inline;
}
#pinkupgrade {
  background: #e84393;
  display:none;
  height:100%;
}
/*plsload*/
